<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589001729748-gi3irmvuv74lo4bjaneh1j7lorebdge2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589001729748-gi3irmvuv74lo4bjaneh1j7lorebdge2</string>
	<key>API_KEY</key>
	<string>AIzaSyD7Nx_zGqB-1KSS4pmxYnVO1GmlSDUzUTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>589001729748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wwh.listing</string>
	<key>PROJECT_ID</key>
	<string>wwhlisting</string>
	<key>STORAGE_BUCKET</key>
	<string>wwhlisting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589001729748:ios:9e7b64be15f8a6699abd41</string>
</dict>
</plist>